<!DOCTYPE html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Laravel</title>

<meta name="csrf-token" content="{{ csrf_token() }}">


<!--
<script src="http://localhost:6001/socket.io/socket.io.js"></script>
-->

<script type="text/javascript" src="/js/app.js"></script>

<script>
window.Echo.channel('laravel_database_test-channel')
  .listen('ExampleEvent', (e) => {
     console.log(e);
     document.getElementById('data').textContent = JSON.stringify(e);
  });
</script>

    </head>
<body>

<div>
  <div id="data"></div>
</div>

</body>

</html>
